# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "85e1a9dba888450e33b84fbb067bc3a5"
name = "Virtual Try-On"
application_url = "https://vton-production-890a.up.railway.app"
embedded = true

[webhooks]
api_version = "2024-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://vton-production-890a.up.railway.app/auth/callback" ]
